.PostComment{
    width: 100vw;
    height: 100vh;
    flex-grow: 1;   
    display: flex;
    overflow: hidden;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
.containairPostComment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    overflow-y: hidden;
    border: 1px solid #ff0;
}
.postComment1{
    width: 50%;
    flex-grow: 1;
}
.postComment2{
    display: flex;
    flex-grow: 2;
}